html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

.funky-element {
  display: block;
  /* Android browser hack. */
  width: 100px;
  height: 100px;
  width: 20vw;
  height: 20vw;
  margin: 0 auto;
}

.iscroll-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.iscroll-scrollable {
  width: 100%;
  height: 3000px;
}
